@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=VT323&display=swap');
body{
    font-family: 'VT323', monospace;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.game-container{
    box-shadow: 0px 0px 10px #000;
    border-radius: 10px;
    width:350px;
    height:450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notification-container{
    opacity: 0;
}
svg{
    border: 1px solid black;
}
svg line{
    stroke: black;
    stroke-width: 2px;
    stroke-linecap: round;
}
.letter{
    color: red;
}
.notification-container.show{
    position: absolute;
    transform: scale(2);
    top:300px;
    opacity: 1;
}